header{
    width:1480px;
    height:75px;
    background-color:orange;
    border:solid 1px black;
}

main .tree-wrapper{
    width:300px;
    height:900px;
    border:solid 1px black;
    float:left;
}

main .main-contents{
    width:1180px;
    height:900px;
    border:solid 1px black;
    float:left;
}

footer .container{
    width:1480px;
    height:150px;
    border:solid 1px black;
    padding-top: 50px;
    float:left;
    text-align: center;
}

li{
    list-style: none;
}

